fastcore==1.12.24
python-fasthtml==0.12.50
opencv-python-headless==4.13.0.92
mediapipe==0.10.32
numpy==2.4.3
scikit-learn==1.8.0
joblib==1.5.3
numpy==2.4.3
uvicorn==0.41.0
websockets==16.0
python-multipart==0.0.22
